/* Nav Bar */
.navigation {
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.nav-active {
  border-bottom: 1px #223b8b solid;
  padding: 10px 20px 25px 20px;
  background-color: #223b8b;
  color: #fff;
  border-radius: 15px;
}
h3 {
  font-size: 25px;
  text-transform: uppercase;
}
p {
  font-size: 20px;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  padding-top: 10px;
  min-height: 10px;
  color: #223b8b;
  /* color:#5965bc; Light*/
  /* color: #00165d; Dark*/
  border-bottom: 3px #f4f4f4 solid;
  background-color: #fff;
}
header a {
  color: #223b8b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}
header ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
header li {
  display: inline;
  padding: 0 20px 0 20px;
}
#signin {
  padding-left: 0;
}
header .logo {
  padding-left: 50px;
  margin-top: -10px;
  float: left;
}
header .logo h2 {
  float: right;
  padding-left: 5px;
  margin-top: 15px;
  font-size: 13px;
  font-weight: normal;
}
header nav {
  float: right;
  /* margin-top: 5px; */
  padding-right: 10px;
}
.search-box {
  display: inline;
  border: black 1px solid;
  padding: 5px;
  border-color: #223b8b;
  outline: none;
  border-radius: 40px;
}
.search-txt {
  outline: none;
  border: none;
  color: #223b8b;
  background-color: transparent;
  padding-left: 15px;
  line-height: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-btn {
  padding: 0 0 0 5px;
}
.search-icon {
  width: 15px;
  height: 15px;
}
.btn-signin {
  background: #223b8b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  width: 80px;
  height: 35px;
  font-size: 14px;
  /* text-transform: uppercase; */
  font-family: cursive;
} /*  Nav bar End */

/* Main */
.qoute {
  margin-top: 140px;
}
.qoute img {
  width: 40%;
  height: 450px;
}
.qoute-txt h1 {
  float: right;
  width: 60%;
  margin-top: -310px;
  color: #223b8b;
  text-transform: uppercase;
  font-family: cursive;
}

.student {
  float: left;
  padding: 20px;
  text-align: center;
  color: #223b8b;
  justify-content: center;
}
.student img {
  float: right;
  width: 40%;
  height: 450px;
}
.student h3 {
  margin-top: 100px;
}
.student p {
  width: 30%;
  padding-left: 180px;
}
.teacher {
  color: #223b8b;
  float: right;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
.teacher img {
  float: left;
  width: 45%;
  height: 450px;
}
.teacher h3 {
  margin-top: 150px;
}
.teacher p {
  width: 50%;
  padding-left: 45%;
}
.premium img {
  float: right;
  width: 40%;
  height: 450px;
}
.premium {
  float: left;
  color: #223b8b;
  text-align: center;
  padding: 20px;
  justify-content: center;
}
.premium h3 {
  margin-top: 110px;
}
.premium p {
  width: 35%;
  padding-left: 160px;
}

.signup {
  width: 25%;
  height: 50px;
  font-size: 20px;
  background-color: #00165d;
}
#footer {
  background-color: #223b8b;
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
  text-align: center;
}
.middle {
  margin-bottom: 10px;
}
footer i {
  color: #f4f4f4;
}
footer h4 {
  margin: 0 0 5px 0;
  color: #f4f4f4;
}
/* Main End */

.container {
  margin: 100px;
  color: #223b8b;
}
/* Book Card small */
.Book {
  margin: 0;
  padding: 0;
  justify-content: center;
}

.Book-Desc {
  background-color: #223b8b;
  color: #fff;
  width: 30%;
  height: 130px;
  float: left;
  margin: 15px;
  border-radius: 0px 0px 50px 0px;
  box-shadow: 5px 5px 5px gray;
}
.Book-Image {
  background-color: #00165d;
  width: 100px;
  height: 130px;
  float: left;
}
.Book-Desc-w {
  height: 100%;
  margin: 10px;
  text-align: center;
}
.Book-Desc-w h3 {
  font-size: 13px;
  margin: 0;
  padding: 0;
}
.Book-Desc-w p {
  font-size: 10px;
  margin: 0;
  padding: 10px 0 0 0;
  overflow: hidden;
}
.Book-Desc-w i {
  font-size: 8px;
  padding: 0;
}
/* Book Card Small End */

/* Book Card Big */
.Handout-Card {
  width: 220px;
  height: 350px;
  box-sizing: border-box;
  float: left;
  margin: 20px;
  background-color: #223b8b;
  color: #fff;
  border-radius: 50px 50px 10px 10px;
  box-shadow: 5px 3px 3px gray;
}
.Handout-Card-Image {
  background-color: #00165d;
  width: 220px;
  height: 200px;
  display: inline-block;
  margin: 5px 0px 0 0px;
  border-radius: 50px 50px 0px 0px;
}
.Handout-Card-Desc-w {
  height: 100%;
  text-align: center;
}
.Handout-Card-Desc-w h3 {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.Handout-Card-Desc-w p {
  width: 200px;
  /* border: 1px solid white; */
  font-size: 10px;
  margin-left: 5px;
  padding: 5px;
  overflow: hidden;
}
.Handout-Card-Desc-w i {
  font-size: 10px;
}
/* Book Card Big End*/

/*SignIn*/
.sign-in-container {
  /* border: 1px solid #223b8b; */
  width: 500px;
  height: 530px;
  margin: 30px 0 10px 400px;
  box-shadow:3px 3px 3px 3px #ccc
}
.sign-in-container .logo {
  box-sizing: border-box;
  padding-left: 195px;
  margin-bottom: 0;
  margin-top: -40px;
  width: auto;
}
.sign-in-container .logo h2 {
  margin: -20px 0 0 0;
  padding-left: 17px;
  font-size: 1.5em;
  font-weight: 400;
  color: #223b8b;
  width: 100px;
}
.sign-in-container a {
  text-decoration: none;
}
.btn-Back {
  width: 30px;
  height: 30px;
  background: url("../src/Assets/Images/icons8_Back_Arrow_100px.png");
  background-size: cover;
  margin: 25px;
  border: none;
  /* border: 1px solid #223b8b; */
  padding: 17px;
  border-radius: 50px;
}
.btn-Back:hover{
  background:url("../src/Assets/Images/icons8_Back_Arrow_100px_2.png");
  background-size: cover;
}
.logo h4{
  font-size: 1.4em;
  font-weight: normal;
  margin: 10px 0 0 20px;
  color: #00165d;
}

/* SignInform */
.signin-form {
  margin: 30px 0 0 100px;
}
.signin-form label {
  display: block;
  color: #00165d;
  padding-top: 10px;
  padding-bottom: 13px;
}
.signin-form input {
  text-align: center;
  color: #223b8b;
  font-size: 1.2em;
  padding: 5px;
  width: 300px;
  height: 30px;
  outline: none;
  border: 1px solid #00165d;
  border-radius: 10px;
}
.signin-form input[placeholder]{
  font-size: 1.0em;
}
.signin-form .btn-Next{
  display: block;
  float: right;
  width: 80px;
  height: 40px;
  background-color: #223b8b;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 45px 50px 0 0;
}
.signin-form .btn-Next:hover{
  background-color: #00165d;
}
.signin-form .btn-create{
  margin-top: 60px;
  float: left;
  font-size: 1.0em;
  border: none;
  background: none;
  outline: none;
  color: #00165d;
  border-top: 1px solid #00165d;
  border-radius: 20px;
}
.signin-form .btn-create:hover{
  /* text-decoration: underline; */
  border-bottom: 1px solid #00165d;
  border-top: none;
  transform: scale(1.07);
}
/* SignInform */

/* SignUpform */
.signup-form {
  margin: 0px 0 0 100px;
}
.signup-form label {
  display: block;
  color: #00165d;
  padding-top: 10px;
  padding-bottom: 13px;
}
.signup-form input {
  text-align: center;
  color: #223b8b;
  font-size: 1.0em;
  padding: 0;
  width: 300px;
  height: 30px;
  outline: none;
  border: 1px solid #00165d;
  border-radius: 10px;
}
.signup-form input[placeholder]{
  font-size: 1.0em;
}
.signin-form p{
font-size: 0.9em;
}
.signin-form p:hover{
  text-decoration: underline;
}
.signup-form .btn-create{
  display: block;
  float: right;
  width: 80px;
  height: 40px;
  background-color: #223b8b;
  color: white;
  outline: none;
  border: none;
  /* border-top: 1px solid #00165d; */
  border-radius: 10px;
  margin: 15px 50px 0 0;
}
.signup-form .btn-create:hover{
  background-color: #00165d;
}
/* End SignUpform */

/* About */
.imagecont img{
  margin: 80px 0 0 0;
  width:100px;
  width: 550px;
}
.imagecont{
  display: inline-block;
}
.AboutText{
  display: inline-block;
  position: absolute;
  top:140px;
}
.AboutText h1{
  font-size: 40px;
  text-transform: uppercase;
  color: #00165d;
}
.AboutText p{
  margin-top: -28px;
  font-size: 18px;
  color: #5965bc;
}
.contactIcons{
  margin-top: 35px;
}
.Icon{
  width: 20px;
  height: 20px;
  border:1px solid #00165d;
  border-radius: 50%;
  padding: 10px;
  margin-right: 25px;
}
.Icon:hover{
  transform: scale(1.2);
}
.aboutme-container{
  margin-top: 20px;
}
.aboutme{
  width: 300px;
  height: 400px;
  float: left;
  border-radius: 20px;
  margin-left: 80px;
  border: 1px solid #00165d;
  margin-bottom: 10px;
}
.title{
  text-align:center;
  border:1px solid #00165d;
  margin-top:0px;
  margin-right:13px;
  margin-left:13px;
  padding:5px 0 7px 0;
  background-color: #00165d;
  color:white;
  font-size: 18px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.aboutDesc{
  text-align: center;
  margin:45px 10px 0 10px;
  font-size: 17px;
}
/* End About */
/* Pdf */
.btn-download{
  background-color: #00165d;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  position: relative;
  width: 200px;
  top: 430px;
  left: -265px;
}
.comments{
  position: relative;
  top:500px;
  left: -290px;
}
.comments h6{
  margin: 0;
  padding: 0;
  float: left;
  font-size: 0.8em;
  margin-right: 20px;
  background-color: #223b8b;
  color: white;
  padding: 2px;
  border-radius: 0 20px 20px 0
}
.comments p{
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  margin-left: 550px;
}
.comment{
margin-top: 10px;
}
.comments h5{
  margin:15px;
  font-size: 1.1em;
  color: #00165d;
}
.textcomment{
  padding: 5px;
  border: none;
  border-bottom: 1px solid #223b8b;
}
.comments label{
  background-color: #223b8b;
  color: white;
  padding: 5px;
  margin-left: 10px;
  border-radius: 20px;
}

.span-download{
  background-color: #00165d;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  position: relative;
  top: 440px;
  left: -250px;
}
a{
  text-decoration: none;
}
.pdfBook{
  float: left;
  width: 600px;
  height: auto;
  border: 1px solid black;
  top: 80px;
  left: 600px;
  position: absolute;
  margin-bottom: 20px;
}
.btn-prev{
  background: none;
  border: none;
  position: absolute;
  left:10%;
  top: 80%;
}
.btn-next{
  background: none;
  border: none;
  position: absolute;
  left:320px;
  top: 80%;
}
.Detail{
  margin-top: 0;
  width: 300px;
  height: 350px;
  background-color: #223b8b;
  color: whitesmoke;
  box-shadow: none;
  border-radius: 0;
}
.Detail-Image{
  width: 100px;
  display: inline-block;
  padding: 50px;
  margin-left: 50px;
  background-color: transparent;
}
.Desc{
  font-size: 1.5em;
  color: whitesmoke;
  font-weight: 100;
  display: block;
  padding: 15px 0 0 0;
}
.pdfBookContainer p{
 position: absolute;
left: 16%;
top:79%;
}
.span-nextprev{
  font-weight: bold;
  margin-left: -40px;
}
.Detail-Desc-w{
  box-sizing: border-box;
  border: 1px solid white;
  width: 200px;
  height: 300px;
  overflow: hidden;
  margin-left: 50px;
  margin-top: 25px;
}
.Detail-Desc-w h3{
  margin-top: 40px;
  font-weight: 500;
}
/* pdf end */
/* Signedin NavBar */

.btn-signedin{
  background-color: #223b8b;
  border : none;
  outline: none;
  border-radius: 40px 0 0 40px;
  color: whitesmoke;
  width: 170px;
  height: 35px;
  float: right;
  margin-top: -28px;
  margin-right: -10px;
  font-family: cursive;
}
.btn-signedin .username{
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}
.btn-signedin .userImage{
  margin-top: 2px;
  padding-right: 2px;
  border-radius: 50%;
}
.btn-signedin .userImage:hover{
  opacity: 0.4;
}
.dropdown{
  position: absolute;
  width: 150px;
  height: 80px;
  border: 1px solid black;
  left: 1110px;
  top: 50px;
  border-radius: 20px 0px 00px 0px;
  background-color: #5965bc;
  visibility: hidden;
}
.dropdown span{
  border-radius: 20px 0px 0px 0px;
display: block;
margin-top: 0px;
color: white;
padding-top: 10px;
text-transform: capitalize;
padding-bottom: 10px;
/* border-top: 1px solid #223b8b; */
}
.dropdown .top{
  border-top: 1px solid #223b8b;
  border-radius: 20px 0px 0px 0px;
}
.dropdown img {
  margin-top: 0px;
  margin-left: 10px;
  float: left;
  padding-left: 12px;
  padding-right: 8px;
  padding-top: 10px;
}
.dropdown span:hover{ 
  background-color: #223b8b;
  color: white;
}
.signedinUl{
  margin: 10px 0 0 0;
  float: left;
}
.userNoti{
  padding-right: 10px;
  position:relative;
}
.badge1{
  position: relative;
}
.badge1[data-badge]:after{
  content:attr(data-badge);
   position:absolute;
   top:-20px;
   right:4px;
   font-size:.7em;
   background:#F1D903;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
/* end Signedin Navbar */

/* Dashboard */
.dash-container{
  margin-top: 55px;
}
.welcome{
  /* border: 1px solid #223b8b; */
  width: 100%;
  background-image: linear-gradient(to right,#00165d, #5965bc);
  overflow: hidden;
}
.welcome h3{
  font-weight: normal;
  text-transform: none;
  text-align: center;
  color: whitesmoke;
  font-family: cursive;
}
.dept{
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    background-color: #223b8b;
    color: whitesmoke;
    
}
.dept h4,h5{
  padding: 0;
  margin: 0;
}
.dept h4{
  /* text-indent: 100px; */
  font-size: 0.8em;
  text-transform: uppercase;
  float: right;
  font-weight: normal;
  margin-right: 0px; 
  margin-top: -40px; 
  border: 1px solid white;
  text-align: center;
  /* padding-right: 10px; */
  padding: 10px;
  border-radius: 40px 0 0 40px;
}
.dept p{
  font-size: 0.8em;
}
.dash-container .courses{
  margin-top: 5px;
  margin-left: 5px;
  font-size: 1.5em;
  /* padding-top: 5px; */
  padding: 5px;
  text-transform: uppercase;
  font-weight: normal;
  border: 1px solid #223b8b;
  color: #223b8b;
  border-radius: 40px 40px 40px 40px;
  width: 400px;
  text-align: center;
  margin-right: 18px;
}
.subject{
  margin-top: 60px;
  box-sizing: border-box;
  border: 1px solid white;
  width: 450px;
  height: 100px;
  margin-left: 90px;
  margin-right: 50px;
  float: left;
}
.subject img{
  float: left;
  /* border: 1px solid #223b8b; */
  border-radius: 50%;
  background-color: white;
}
.subject h5{
  margin-top: 15px;
  color: white;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
}
.subject h6{
  color: lightgrey;
  text-align: center;
  font-size: 0.6em;
  margin: 0;padding: 0;
  text-transform: uppercase;
}
.subject .btnchoices{
  /* border: 1px solid white; */
  padding: 5px;
  margin: 5px 0px 0 70px;
  width: 250px;

}
.subject .btnchoice{
margin: 5px;
padding: 5px;
   /* background:#F1D903; */
   /* background-image: linear-gradient(to top,#F1D903, white); */
background-color: white;
border: 1px solid white;
color: #00165d;
border-radius: 15px;
border-top: none;
border-left: none;
border-right: none;
}
.subject .btnchoice:hover{
  background-color: white;
  color: #223b8b;
}
.subject-desc{
  margin-top: 5px;
  border: 1px solid white;
  margin-left: 100px;
  width: 350px;
  height: 140px;
  /* background-color: #223b8b; */
  background-image: linear-gradient(to right,#00165d, #5965bc);
  
}
/* End Dashboard */

/* Tutorial */
.tutcontent{
  border: 2px solid #223b8b;
  width: 250px;
  float: left;
  margin: 95px 0 0 50px;
  color: #00165d;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
}
.tutcontent h4{
  margin-top: -100px;
  text-transform: uppercase;
}
.poster{
  border-bottom: 1px solid #223b8b;
}
.play{
 position: relative;
 top: -160px;
 visibility: hidden;
}
.tutcontent:hover .play{
  visibility: visible;
}
.tutcontent:hover .poster{
  opacity: 0.4;
}
.player{
  margin-top: 100px;
  margin-left: 40px;
  float: left;
  color: #223b8b;
}
.player h6{
  margin: 0;
  padding: 0;
  width: 500px;
  padding-left: 20px;
}
.suggestion{
  padding-top: 100px;
  margin-left: 750px;
}
.suggestion img{
  float: left;
}
.suggestion h4{
  position: relative;
  right: 80px;
  color: #223b8b;
}

.suggestion:hover .playsug{
  visibility: visible;
}
.suggestion:hover .postersug{
  opacity: 0.4;
}
.playsug{
  position: relative;
  right: 170px;
  top: 40px;
  visibility: hidden;
}
.player h3{
  text-indent: 20px;
}
.playerdes{
float: left;
margin-top: -15px;
margin-left: -80px;
}
.playerdes h6{
  margin: 0;
  padding: 0;
  color: #5965bc;
  text-transform: uppercase;
}
.btn-showmore{
  width: 500px;
  border: 1px solid #223b8b;
  background-color: transparent;
  padding: 10px;
  margin-left: 50px;
  margin-top: 20px;
  color: #00165d;
}

/* End Tutorial */

/* Upload */
.form-container{
  margin-top: 250px;
  margin-left: 100px;
}
.form-container h1{
  float: left;
  text-align: center;
  text-transform: uppercase;
  color: #00165d;
}
.form-container .form{
  border-top: 3px solid #223b8b;
  border-bottom: 3px solid #223b8b;
  border-radius: 30px 30px 30px 30px;
  width: 300px;
  height: 300px;
  float: right;
  margin-right: 100px;
  margin-top: -100px;
}
.form-container h4{
  text-align: center;
  padding: 15px;
  margin-left: 83px;
  margin-top: 0;
  border-radius: 0px 0px 20px 20px;
  background-image: linear-gradient(to right,#00165d, #5965bc);
  text-transform: uppercase;
  color: white;
  /* border: 1px solid black; */
  width: 100px;
}
.btn-upload{
  background-color: transparent;
  padding: 15px;
  width: 230px;
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 20px;
  border: none;
  border: 1px solid #00165d;
  font-size: 1.0em;
  color: #223b8b;
}
.btn-upload:hover{
background-image: linear-gradient(to right,#00165d, #5965bc);
color: white;
border: none;
}
.desc-textarea{
  margin-left: 15px;
  margin-top: 15px;
}
.file-upload{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  display: none;
}
.file-selector{
  /* border: 1px solid black; */
  color: white;
  padding: 5px;
  margin-left: 95px;
  background-color: #5965bc;
  border-radius: 20px;
  position: relative;
  top: -10px;
}
.file-selector:hover{
  background-color: transparent;
  color: #00165d;
  border: 1px solid #00165d;
}
.typeof{
  margin-top: 0px;
  margin-left: 30px;
}
.typeof input{
  margin: 10px;
}
/* End Upload */
/* quiz */
.quiz-container{
  margin-top: 150px;
  margin-left: -10px;
}
.quiz{
  float: left;
  width: 250px;
  height: 200px;
  margin-left: 60px;
  margin-bottom: 40px;
}
.quizstart{
  position: relative;
  left: 75px;
  top: -80px;
  padding: 10px;
  background-color: #223b8b;
  color: white;
  text-transform: uppercase;
  visibility: hidden;
}
.quiz h4{
  width:280px;
  text-align: center;
  margin-left: -25px;
  padding: 10px;
  margin-top: -30px;
  text-transform: uppercase;
  background-image:  linear-gradient(to right,#00165d, #5965bc);
  color: whitesmoke;
}
.quiz:hover .quizstart{
visibility: visible;
}
.quiz:hover .posterquiz{
  opacity: 0.4;
}
.quizstart:hover{
background-color: white;
color: #00165d;
border: 1px solid #00165d;
}
.questions{
margin-top: 90px;
margin-left: 350px;
  border-bottom: 4px solid black;
  border-radius: 20px;
  width: 600px;
  height: 400px;
}
.questions .btn-Next{
  padding: 15px;
  width: 150px;
  background-color: #223b8b;
  color: white;
  border: none;
  font-size: .9em;
  border-radius: 20px;
  margin-top: 70px;
  margin-left: 400px;
}
.choices{
  padding: 10px;
  margin-left: 170px;
}
.choices label{
  margin-left: 20px;
  font-size: 1.2em;
}
.btn-choices{
  padding-left: 10px;
}
.questions h4{
  border-radius: 20px;
  text-align: center;
  color: white;
  background: #223b8b;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: 0;
  padding: 10px;
}
.questions h2{
  color: #00165d;
  margin: 0;
  padding: 0;
}

/* End quiz */