/* Nav Bar */
.navigation {
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.nav-active {
  border-bottom: 1px #223b8b solid;
  padding: 10px 20px 25px 20px;
  background-color: #223b8b;
  color: #fff;
  border-radius: 15px;
}
h3 {
  font-size: 25px;
  text-transform: uppercase;
}
p {
  font-size: 20px;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  padding-top: 10px;
  min-height: 10px;
  color: #223b8b;
  /* color:#5965bc; Light*/
  /* color: #00165d; Dark*/
  border-bottom: 3px #f4f4f4 solid;
  background-color: #fff;
}
header a {
  color: #223b8b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}
header ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
header li {
  display: inline;
  padding: 0 20px 0 20px;
}
#signin {
  padding-left: 0;
}
header .logo {
  padding-left: 50px;
  margin-top: -10px;
  float: left;
}
header .logo h2 {
  float: right;
  padding-left: 5px;
  margin-top: 15px;
  font-size: 13px;
  font-weight: normal;
}
header nav {
  float: right;
  /* margin-top: 5px; */
  padding-right: 10px;
}
.search-box {
  display: inline;
  border: black 1px solid;
  padding: 5px;
  border-color: #223b8b;
  outline: none;
  border-radius: 40px;
}
.search-txt {
  outline: none;
  border: none;
  color: #223b8b;
  background-color: transparent;
  padding-left: 15px;
  line-height: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-btn {
  padding: 0 0 0 5px;
}
.search-icon {
  width: 15px;
  height: 15px;
}
.btn-signin {
  background: #223b8b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  width: 80px;
  height: 35px;
  font-size: 14px;
  /* text-transform: uppercase; */
  font-family: cursive;
} /*  Nav bar End */

/* Main */
.qoute {
  margin-top: 140px;
}
.qoute img {
  width: 40%;
  height: 450px;
}
.qoute-txt h1 {
  float: right;
  width: 60%;
  margin-top: -310px;
  color: #223b8b;
  text-transform: uppercase;
  font-family: cursive;
}

.student {
  float: left;
  padding: 20px;
  text-align: center;
  color: #223b8b;
  justify-content: center;
}
.student img {
  float: right;
  width: 40%;
  height: 450px;
}
.student h3 {
  margin-top: 100px;
}
.student p {
  width: 30%;
  padding-left: 180px;
}
.teacher {
  color: #223b8b;
  float: right;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
.teacher img {
  float: left;
  width: 45%;
  height: 450px;
}
.teacher h3 {
  margin-top: 150px;
}
.teacher p {
  width: 50%;
  padding-left: 45%;
}
.premium img {
  float: right;
  width: 40%;
  height: 450px;
}
.premium {
  float: left;
  color: #223b8b;
  text-align: center;
  padding: 20px;
  justify-content: center;
}
.premium h3 {
  margin-top: 110px;
}
.premium p {
  width: 35%;
  padding-left: 160px;
}

.signup {
  width: 25%;
  height: 50px;
  font-size: 20px;
  background-color: #00165d;
}
#footer {
  background-color: #223b8b;
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
  text-align: center;
}
.middle {
  margin-bottom: 10px;
}
footer i {
  color: #f4f4f4;
}
footer h4 {
  margin: 0 0 5px 0;
  color: #f4f4f4;
}
/* Main End */

.container {
  margin: 100px;
  color: #223b8b;
}
/* Book Card small */
.Book {
  margin: 0;
  padding: 0;
  justify-content: center;
}

.Book-Desc {
  background-color: #223b8b;
  color: #fff;
  width: 30%;
  height: 130px;
  float: left;
  margin: 15px;
  border-radius: 0px 0px 50px 0px;
  box-shadow: 5px 5px 5px #ccc;
}
.Book-Image {
  background-color: #00165d;
  width: 100px;
  height: 130px;
  float: left;
}
.Book-Desc-w {
  height: 100%;
  margin: 10px;
  text-align: center;
}
.Book-Desc-w h3 {
  font-size: 13px;
  margin: 0;
  padding: 0;
}
.Book-Desc-w p {
  font-size: 10px;
  margin: 0;
  padding: 10px 0 0 0;
  overflow: hidden;
}
.Book-Desc-w i {
  font-size: 8px;
  padding: 0;
}
/* Book Card Small End */

/* Book Card Big */
.Book-Card {
  width: 250px;
  height: 350px;
  box-sizing: border-box;
  float: left;
  margin: 50px;
  background-color: #223b8b;
  color: #fff;
  border-radius: 0px 0px 50px 50px;
}
.Book-Card-Image {
  background-color: #00165d;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 25px 25px 5px 25px;
}
.Book-Card-Desc-w {
  height: 100%;
  text-align: center;
}
.Book-Card-Desc-w h3 {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.Book-Card-Desc-w p {
  font-size: 10px;
  margin: 0;
  padding: 10px 0 0 0;
  overflow: hidden;
}
.Book-Card-Desc-w i {
  font-size: 10px;
}
/* Book Card Big End*/

/*SignIn*/
.sign-in-container {
  /* border: 1px solid #223b8b; */
  width: 500px;
  height: 530px;
  margin: 30px 0 10px 400px;
  box-shadow:3px 3px 3px 3px #ccc
}
.sign-in-container .logo {
  box-sizing: border-box;
  padding-left: 195px;
  margin-bottom: 0;
  margin-top: -40px;
  width: auto;
}
.sign-in-container .logo h2 {
  margin: -20px 0 0 0;
  padding-left: 17px;
  font-size: 1.5em;
  font-weight: 400;
  color: #223b8b;
  width: 100px;
}
.sign-in-container a {
  text-decoration: none;
}
.btn-Back {
  width: 30px;
  height: 30px;
  background: url("../src/Assets/Images/icons8_Back_Arrow_100px.png");
  background-size: cover;
  margin: 25px;
  border: none;
  /* border: 1px solid #223b8b; */
  padding: 17px;
  border-radius: 50px;
}
.btn-Back:hover{
  background:url("../src/Assets/Images/icons8_Back_Arrow_100px_2.png");
  background-size: cover;
}
.logo h4{
  font-size: 1.4em;
  font-weight: normal;
  margin: 10px 0 0 20px;
  color: #00165d;
}

/* SignInform */
.signin-form {
  margin: 30px 0 0 100px;
}
.signin-form label {
  display: block;
  color: #00165d;
  padding-top: 10px;
  padding-bottom: 13px;
}
.signin-form input {
  text-align: center;
  color: #223b8b;
  font-size: 1.2em;
  padding: 5px;
  width: 300px;
  height: 30px;
  outline: none;
  border: 1px solid #00165d;
  border-radius: 10px;
}
.signin-form input[placeholder]{
  font-size: 1.0em;
}
.signin-form .btn-Next{
  display: block;
  float: right;
  width: 80px;
  height: 40px;
  background-color: #223b8b;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 45px 50px 0 0;
}
.signin-form .btn-Next:hover{
  background-color: #00165d;
}
.signin-form .btn-create{
  margin-top: 60px;
  float: left;
  font-size: 1.0em;
  border: none;
  background: none;
  outline: none;
  color: #00165d;
}
.signin-form .btn-create:hover{
  text-decoration: underline;
}
/* SignInform */

/* SignUpform */
.signup-form {
  margin: 0px 0 0 100px;
}
.signup-form label {
  display: block;
  color: #00165d;
  padding-top: 10px;
  padding-bottom: 13px;
}
.signup-form input {
  text-align: center;
  color: #223b8b;
  font-size: 1.0em;
  padding: 0;
  width: 300px;
  height: 30px;
  outline: none;
  border: 1px solid #00165d;
  border-radius: 10px;
}
.signup-form input[placeholder]{
  font-size: 1.0em;
}
.signup-form .btn-create{
  display: block;
  float: right;
  width: 80px;
  height: 40px;
  background-color: #223b8b;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 15px 50px 0 0;
}
.signup-form .btn-create:hover{
  background-color: #00165d;
}
/* SignUpform */
