/* Nav Bar */
.navigation {
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.nav-active {
  border: 1px #223b8b solid;
  padding: 10px 20px 25px 20px;
  background-color: #223b8b;
  color: #fff;
  border-radius: 15px;
}
h3 {
  font-size: 25px;
  text-transform: uppercase;
}
p {
  font-size: 20px;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 10px;
  min-height: 10px;
  color: #223b8b;
  /* color:#5965bc; Light*/
  /* color: #00165d; Dark*/
  border-bottom: 3px #f4f4f4 solid;
  background-color: #fff;
}
header a {
  color: #223b8b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}
header ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
header li {
  display: inline;
  padding: 0 20px 0 20px;
}
#signin {
  padding-left: 0;
}
header .logo {
  padding-left: 50px;
  margin-top: -10px;
  float: left;
}
header .logo h2 {
  float: right;
  padding-left: 5px;
  margin-top: 15px;
  font-size: 13px;
  font-weight: normal;
}
header nav {
  float: right;
  /* margin-top: 5px; */
  padding-right: 10px;
}
.search-box {
  display: inline;
  border: black 1px solid;
  padding: 5px;
  border-color: #223b8b;
  outline: none;
  border-radius: 40px;
}
.search-txt {
  outline: none;
  border: none;
  color: #223b8b;
  background-color: transparent;
  padding-left: 15px;
  line-height: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-btn {
  padding: 0 0 0 5px;
}
.search-icon {
  width: 15px;
  height: 15px;
}
.btn-signin {
  background: #223b8b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  width: 80px;
  height: 35px;
  font-size: 14px;
  /* text-transform: uppercase; */
  font-family: cursive;
} /*  Nav bar End */

/* Main */
.qoute {
  margin-top: 140px;
}
.qoute img {
  width: 40%;
  height: 450px;
}
.qoute-txt h1 {
  float: right;
  width: 60%;
  margin-top: -310px;
  color: #223b8b;
  text-transform: uppercase;
  font-family: cursive;
}

.student {
  float: left;
  padding: 20px;
  text-align: center;
  color: #223b8b;
  justify-content: center;
}
.student img {
  float: right;
  width: 40%;
  height: 450px;
}
.student h3 {
  margin-top: 100px;
}
.student p {
  width: 30%;
  padding-left: 180px;
}
.teacher {
  color: #223b8b;
  float: right;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
.teacher img {
  float: left;
  width: 45%;
  height: 450px;
}
.teacher h3 {
  margin-top: 150px;
}
.teacher p {
  width: 50%;
  padding-left: 45%;
}
.premium img {
  float: right;
  width: 40%;
  height: 450px;
}
.premium {
  float: left;
  color: #223b8b;
  text-align: center;
  padding: 20px;
  justify-content: center;
}
.premium h3 {
  margin-top: 110px;
}
.premium p {
  width: 35%;
  padding-left: 160px;
}

.signup {
  width: 25%;
  height: 50px;
  font-size: 20px;
  background-color: #00165d;
}
#footer {
  background-color: #223b8b;
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
  text-align: center;
}
.middle {
  margin-bottom: 10px;
}
footer i {
  color: #f4f4f4;
}
footer h4 {
  margin: 0 0 5px 0;
  color: #f4f4f4;
}
/* Main End */

.container {
  margin: 100px;
  color: #223b8b;
}
/* Book Card small */
.Book {
  margin: 0;
  padding: 0;
  justify-content: center;
}

.Book-Desc {
  background-color: #223b8b;
  color: #fff;
  width: 30%;
  height: 130px;
  float: left;
  margin: 15px;
  border-radius: 0px 0px 50px 0px;
  box-shadow: 5px 5px 5px #333;
}
.Book-Image {
  background-color: #00165d;
  width: 100px;
  height: 130px;
  float: left;
}
.Book-Desc-w {
  height: 100%;
  margin: 10px;
  text-align: center;
}
.Book-Desc-w h3 {
  font-size: 13px;
  margin: 0;
  padding: 0;
}
.Book-Desc-w p {
  font-size: 10px;
  margin: 0;
  padding: 10px 0 0 0;
  overflow: hidden;
}
.Book-Desc-w i {
  font-size: 8px;
  padding: 0;
}
/* Book Card Small End */

/* Book Card Big */
.Book-Card {
  width: 250px;
  height: 350px;
  box-sizing: border-box;
  float: left;
  margin: 50px;
  background-color: #223b8b;
  color: #fff;
  border-radius: 0px 0px 50px 50px;
}
.Book-Card-Image {
  background-color: #00165d;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 25px 25px 5px 25px;
}
.Book-Card-Desc-w {
  height: 100%;
  text-align: center;
}
.Book-Card-Desc-w h3 {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.Book-Card-Desc-w p {
  font-size: 10px;
  margin: 0;
  padding: 10px 0 0 0;
  overflow: hidden;
}
.Book-Card-Desc-w i {
  font-size: 10px;
}
/* Book Card Big End*/
